[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "elec"]
	path = elec
	url = https://github.com/lmiratrix/elec
[submodule "simITS"]
	path = simITS
	url = https://github.com/lmiratrix/simits
